<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  {%with messages = get_flashed_messages()%}
  {%if messages %}
  <script type="text/javascript">
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
  {%endwith%}

</head>

<body>
  <nav class="fixed top-0 left-0 right-0 z-50 bg-cyan-300">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <a href="../home">
              <img class="hidden h-8 w-auto lg:block transition active:translate-y-1 active:translate-x-1" src={{
                url_for('static',filename='img/home.jpg' ) }} />
            </a>
          </div>
          <div class="flex items-center w-100">
            <div class="text-xl font-semibold ml-6">
              안녕하세요~ {{ session['nickname'] }}님! 당신의 아름다운 나눔이 동료를 웃게만듭니다.
            </div>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4 shadow-lg">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="../register"
                class="bg-red-500 text-white px-3 py-2 rounded-md text-sm font-semibold border-2 rounded-md border-red-200 transition active:bg-red-700 active:translate-y-1 active:translate-x-1"
                aria-current="page">나눔하러 가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="bg-red-500 text-white block px-3 py-2 rounded-md text-base font-semibold"
          aria-current="page">나눔하러 가기</a>
      </div>
    </div>
  </nav>
  <div class="container px-6 py-10 mx-auto max-w-7xl my-20 w-1/2">
    <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{{item.title}}</h1>
    <div class="mt-5 lg:-mx-6 lg:flex lg:items-center">
      <img class="object-cover lg:mx-6 lg:w-1/2 rounded-xl h-72 lg:h-96" src={{url_for('static',filename=item.url) }}
        alt="">
      <div class="mt-6 lg:w-1/2 lg:mt-0 lg:mx-6 ">
        <div class="flex items-center mt-6">
          <div
            class="shadow flex items-center justify-center text-xl text-white bg-blue-800 object-cover object-center w-10 h-10 rounded-full">
            {{item.user.nickname[0]}}
          </div>
          <div class="mx-4">
            <h1 class="text-2xl text-gray-900 dark:text-gray-100">{{item.user.nickname}}</h1>
          </div>
        </div>
        <p class="block mt-3 text-2xl font-medium text-gray-600 dark:text-gray-300">
          {{item.text}}
        </p>
        <div
          class="mt-2 text-xl font-bold bg-white inline-flex items-center border border-gray-200 rounded relative px-2.5 py-1.5 ">
          <span class="animate-ping w-2.5 h-2.5 bg-blue-600/75 rounded-full absolute -top-1 -left-1"></span>
          <span class="w-2.5 h-2.5 bg-blue-600 rounded-full absolute -top-1 -left-1"></span>
          <span class="text-gray-700 "> 수량 </span>
          <span class="text-blue-700 ml-1.5">
            {{item.count}}
          </span>
        </div>
        <p
          class="mt-3 text-center text-md font-bold bg-blue-500 border-blue-500 border text-white lowercase px-3 py-1.5 rounded ">
          물품위치
        </p>
        <div class="mt-0 text-md font-medium text-blue-500 border border-current lowercase px-3 py-1.5 rounded">
          {{item.location}}
        </div>
      </div>
    </div>

    <div style="max-width:700px; margin: 20px auto;">
      <form action="/desc/{{ item._id }}" method="post" class="flex items-center">
        <label class="sr-only">입력</label>
        <div class="relative w-full">
          <input type="text" name="comment"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="댓글작성 후 물품을 가져가세요!" required="">
        </div>
        <button type="submit"
          class="w-1/6 rounded-md items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">댓글입력
        </button>
      </form>
    </div>

    <!-- 댓글1개  -->
    {% for review in item.reviews %}
    <div class="relative grid grid-cols-1 gap-4 p-4 mb-2 border rounded-lg bg-white shadow-lg">
      <div class="relative flex gap-4">
        <div class="flex flex-col w-full">
          <div class="flex flex-row justify-between">
            <p class="relative text-xl whitespace-nowrap truncate overflow-hidden">{{review.nickname}}</p>
            <a class="text-gray-500 text-xl" href="#"><i class="fa-solid fa-trash"></i></a>
          </div>
        </div>
      </div>
      <p class="-mt-4 text-gray-500">{{review.text}}</p>
    </div>
    {% endfor %}
  </div>
  <!-- </section> -->
</body>

</html>