<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>회원가입 화면</title>
    </head>
    <body>
        <a>회원가입 화면</a>
        {% if signup_success == False %}
        <p>"아이디와 비밀번호를 다시 입력해주세요"</p>
        {% endif %}

        {% if signup_same == True %}
        <p>"아이디가 중복되었습니다. 다시 입력해주세요"</p>
        {% endif %}

        {% if signup_success == True %}
        <p>"회원가입 완료"</p>
        <style> #signup_form { display : none } </style>
        {% endif %}

        <form method="post" action="signup" id="signup_form">
            ID : <input type="text" name="signup_id" placeholder="아이디를 입력해주세요" /><br />
            PW : <input type="password" name="signup_pw" placeholder="비밀번호를 입력해주세요"/><br />
            <button type="submit">signup</button>
          </form>
    </body>
</html>