<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function onSubmit() {
        var queryString = $("form[name=login]").serialize();
        $.ajax({
          type: "post",
          data: queryString,
          url: "/signin",
          success: function (res) {
            if (res.login == true) {
              location.href="/home";
            }
          },
        });
      }
    </script>
    <style>
      #login-form {
        top: 50%;
        left: 50%;
        padding-left: 100px;
      }
      #img-form {
        top: 50%;
        left: 50%;
        height: 100%;
        text-align: center;
        padding-left: 10px;
        padding-top: 100px;
      }
      html,
      body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    {% if login_success == False %}
    <p class="mt-2 text-center text-sm text-gray-600">
      로그인 실패 다시 시도해주세요
    </p>
    {% endif %}

    <div
      id="img-form"
      class="bg-white bg-gradient-to-r from-cyan-500/70 to-blue-500/70"
      style="float: left; width: 60%; height: 100%"
    >
      <div class="pt-6">
        <!-- Image gallery -->
        <h2
          class="mt-6 text-center text-3xl font-bold tracking-tight text-black-300"
        >
          많은 물건들이 새로운 주인을 기다리고 있어요
        </h2>
        <div
          class="mt-40 mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8"
        >
          {% for item in items %}
          <div
            class="aspect-w-3 aspect-h-4 hidden overflow-hidden rounded-lg lg:block"
          >
            <img src={{ url_for('static',filename=item.url) }} class="transition
            ease-in-out h-full w-full object-cover object-center
            group-hover:opacity-75 hover:-translate-y-1 hover:scale-110" />
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div
      id="login-form"
      class="flex min-h-full items-center py-12 px-4 sm:px-6 lg:px-8 bg-gradient-to-r from-purple-500/70 to-fuchsia-500/70"
      style="float: left; width: 40%"
    >
      <div class="w-full max-w-md space-y-8">
        <div>
          <h2
            class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
          >
            Login
          </h2>
        </div>
        <form class="mt-8 space-y-6" name="login" onsubmit="onSubmit()">
          <input type="hidden" name="remember" value="true">
          <div class="-space-y-px rounded-md shadow-sm">
            <div>
              <label for="email-address" class="sr-only">Email address</label>
              <input
                id="email-address"
                name="id"
                type="email"
                required
                class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                placeholder="Email address"
              />
            </div>
            <div>
              <label for="password" class="sr-only">Password</label>
              <input
                id="password"
                name="pw"
                type="password"
                required
                class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                placeholder="Password"
              />
            </div>
          </div>

          <div>
            <input onclick="onSubmit()" value="로그인" class="group relative flex w-full cursor-pointer justify-center text-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"></button>
          </div>
        </form>

        <button
          onclick="location.href = '/signup'"
          type="button"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          회원가입
        </button>
      </div>
    </div>
  </body>
</html>
